@model LibraryMvc.Models.Catalog.CheckoutModels.CheckoutModel

<div class="container">
  <div class="header clearfix detailHeading">
    <h2 class="text-muted">Checkout Library Item</h2>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-3">
        <div>
          <p id="itemTitle">@Model.Title</p>
          
          <img class="detailImage" src="@Model.ImageUrl" />
        </div>
      </div>
      @*you could also use tag helpers.*@
      <div class="col-md-9">
        @*this is an html helper - it creates an object that implements idisposable*@
        @using (Html.BeginForm("PlaceCheckOut", "Catalog", FormMethod.Post))
        {
          @Html.HiddenFor(model => model.AssetId)
          <div>
            Please insert a Library Card ID.
            @Html.TextBoxFor(model => model.LibraryCardId)
            @*write out a text box and set attributes according to info in the model*@
          </div>

          <div>
            <button type="submit" class="btn btn-success">Check out</button>
          </div>
        }
      </div>
    </div>
  </div>
</div>