@model LibraryMvc.Models.Catalog.CheckoutModels.CheckoutModel

<div class="container">
  <div class="header clearfix detailHeading">
    <h2 class="text-muted">Place Hold on Library Item</h2>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-3">
        <div>
          <p id="itemTitle">Place Hold on Library Item</p>

          <img class="detailImage" src="@Model.ImageUrl" />
        </div>
      </div>

      @*you could also use tag helpers.*@
      <div class="col-md-9">
        <p>There are currently @Model.HoldCount holds in the queue for this item.</p>

        @*this is an html helper - it creates an object that implements idisposable*@
        @using (Html.BeginForm("PlaceHold", "Catalog", FormMethod.Post))
        {
          @Html.HiddenFor(a => a.AssetId)
          <div>
            Please insert a Library Card ID.
            @Html.TextBoxFor(a => a.LibraryCardId)
            @*write out a text box and set attributes according to info in the model*@
          </div>

          <div>
            <button type="submit" class="btn btn-info">Place Hold</button>
          </div>
        }
      </div>
    </div>
  </div>
</div>